.wrapper {
  position: relative;
  width: 50%;
  height: 50%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: grey;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;

  background-color: yellow;
}
